.btn-group {
    width: 50%;
}
.btn-danger1{
    display: block;
    border: none;
    color: aqua;
    font-size: large;
    position: absolute;
    left: 50%;
    margin-right: 75px;
    
}

ul li {
    right: 0px;
}
.dropdown-item {
    color: white;
    
}
.dropdown-item:hover {
    background-color: aqua;
}
.dropdown-item{color: rgb(24,255,195);}
.dropdown-menu{background-color: rgba(0, 0, 0, 0.7);}