.col-md6-border-rounded {
    text-align: center;
    color: white;
    position: relative;
    top: 100px;
    border: 3px solid wheat;
}
.btn-secondary{
    box-shadow: 5px 5px 10px 0px blue;
    position: relative;
    top: 25px; left: 250px;
    height: 50px; width: 500px;
    border: 3px solid blue;
    color: blue;
    background-color: #000000;
    border-radius: 20px;
    font-size: lem;
    font-weight: 500;
}

.btn-warning {
    background-color: transparent;
    color: yellow;
    width: 30%;
    border: 3px solid yellow;
    border-image: linear-gradient(to right top, yellow,green, yellow);
    border-image-slice: 1;
}
.btn-danger{
    background-color: transparent;
    color: red;
    width: 30%;
    border: 3px solid red;
    border-image: linear-gradient(to right top, red ,orange);
    border-image-slice: 1;
}

.fa-heart {
    font-size: 2em; 
    position: relative;
    right: -45px; top: 0px;
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.fa-heart:hover {
    animation: bounce 1s;
}
