{% extends "base.html" %}

{% block content %}
<!--        div .info_box{background-color:rgba(0, 0, 0, 0.5);-->
<!--                        text-align:center}-->
<head>
    <meta charset="UTF-8">
    <style>
        div .info_box{text-align:center}
        table{background-color:rgba(0, 0, 0, 0.5);
                width: 100%;}
        tr{padding: 5px;}
        p, b, li, h2 {color: #ffffff}
    </style>
</head>
<div class="mw-parser-output">
    <h2><span id=".D0.9E.D0.BF.D0.B8.D1.81.D0.B0.D0.BD.D0.B8.D0.B5"></span><span class="mw-headline" id="Описание">Описание</span>
    </h2>
    <p>Броня (англ. armor) - одна из важнейших составляющих снаряжения. В <strong>S.T.A.L.C.R.A.F.T.'e</strong>
        представлен огромный выбор брони на любую игровую ситуацию. Также, здесь вы можете прочитать статью о
        фирмах-производителях.
    </p>
    <h2><span id=".D0.9A.D0.BB.D0.B0.D1.81.D1.81.D1.8B_.D0.B1.D1.80.D0.BE.D0.BD.D0.B8"></span><span class="mw-headline"
                                                                                                    id="Классы_брони"><b>Классы брони</b></span>
    </h2>
    <p>Каждый костюм обладает своим предназначение, но это не значит, что он является узконаправленным, так например мы
        можем использовать боевой броне костюм в аномальных зонах, но только при наличии подходящего набора артефактов.
        В игре представлено 4 класса брони, а также класс устройств который включает в себя приборы ночного видения:
    </p>
    <ul>
        <li><a href="/class_of_armor/clothes" title="Одежда"><b>Одежда</b></a></li>
        <li><a href="/class_of_armor/combat" title="Боевые"><b>Боевые</b></a></li>
        <li><a href="/class_of_armor/scientist" title="Научные"><b>Научные</b></a></li>
        <li>
            <a href="/class_of_armor/combined"
               title="Комбинированные"><b>Комбинированные</b></a></li>
        <li><a href="/class_of_armor/device" title="Устройства"><b>Устройства</b></a>
        </li>
    </ul>
    <h2><span
            id=".D0.A0.D0.B0.D0.BD.D0.B3.D0.BE.D0.B2.D0.B0.D1.8F_.D1.81.D0.B8.D1.81.D1.82.D0.B5.D0.BC.D0.B0"></span><span
            class="mw-headline" id="Ранговая_система"><b>Ранговая система</b></span></h2>
    <p>Ранг в первую очередь создан для распределения серверов, а точнее, чтобы самые сильные игроки с лучшим шмотом не
        попадались с игроками, у которых нет даже нормального автомата. Ранг повышается с каждым оружием в бартере
        независимо от класса. Также, в игре существует ранг Легенда, но нет никаких серверов, которые предназначены
        только для этого ранга. Таким образом, <span style="color: #d14849">бронекостюм Скат-10</span> и <span
                style="color: #d14849">А-545</span> могут находится
        на одном сервере с <span style="color: #ffaa00">Гаусс-Пушкой</span> и <span
                style="color: #ffaa00">бронескелетом Альбатрос-Штурмовиком</span>.
    </p>
    <p>Всего в игре 6 рангов, это: Всего в игре 6 рангов, это: <span
            style="color: #939393"><strong>Отмычка</strong></span>, <span
            style="color: #4ad94b"><strong>Новичок</strong></span>, <span
            style="color: #5555ff"><strong>Сталкер</strong></span>, <span
            style="color: #940394"><strong>Ветеран</strong></span>, <span style="color: #d14849"><strong>Мастер</strong></span>,
        <span style="color: #ffaa00"><strong>Легенда</strong></span>.
    </p>
    <p>До глобальной перестройки снаряжение в игре имело не ранговую систему, а систему редкости.
    </p>
    <h2><span id=".D0.92.D0.B8.D0.B4.D1.8B_.D0.B4.D0.BE.D1.81.D1.82.D1.83.D0.BF.D0.B0"></span><span class="mw-headline"
                                                                                                    id="Виды_доступа">Виды доступа</span>
    </h2>
    <p>Броня может находиться в двух состояниях:
    </p>
    <ol>
        <li>Уникальное - такой костюм можно получить в персональном варианте сразу же после получения, передать такой
            костюм невозможно. В основном, это бронекостюм бартерной ветки и награды за квесты и ивенты.
        </li>

        <li>Свободное — эти костюмы становятся персональным только после использования, поэтому его можно как
            использовать, сделав персональным, так и передать. Это все костюмы из донатного магазина, за исключением
            специальных наборов, а также костюмов из бартера за сигнальные маячки.
        </li>
    </ol>
    </div>
    {% autoescape false %}
    {{html_code}}
    {% endautoescape %}
    {% endblock %}