{% extends "base.html" %}

{% block content %}
<!--        div .info_box{background-color:rgba(0, 0, 0, 0.5);-->
<!--                        text-align:center}-->
<head>
    <meta charset="UTF-8">
    <style>
        div .info_box{text-align:center}
        table{background-color:rgba(0, 0, 0, 0.5);
                width: 100%;}
        tr{padding: 5px;}
        p, b, li, h2 {color: #ffffff}
    </style>
</head>
<h1>Броня</h1>
<h2><span id=".D0.9E.D0.BF.D0.B8.D1.81.D0.B0.D0.BD.D0.B8.D0.B5"></span><span class="mw-headline" id="Описание">Описание</span></h2>
<p><b>Броня</b> (англ. Armor) - это обязательная часть снаряжения, как и <a href="/all_weapon" title="Оружие">оружие</a>. В S.T.A.L.C.R.A.F.T.е присутствует много различных моделей оружия.
</p><p>Каждое <b>оружие</b> входит в определенный класс, независимо от того насколько оно универсальное или же узконаправленное. Именно класс оружия определяет какой уникальный бонус получит это оружие и как оно будет использоваться, но класс оружия — это не единственный фактор, определяющий это, так, например, каждый пистолет имеет свой бонус, но автоматические пистолеты, таким бонусом обладать не могут, но даже в этой ситуации есть свои исключения.
</p>
<h2><span id=".D0.9A.D0.BB.D0.B0.D1.81.D1.81.D1.8B_.D0.BE.D1.80.D1.83.D0.B6.D0.B8.D1.8F"></span><span class="mw-headline" id="Классы_оружия">Классы оружия</span></h2>
<p>На данный момент существует 9 классов оружия, каждый из которых обладает уникальными характеристиками, перками и другими особенностями:
</p>
<ul>
<li><a href="/class_of_weapon/melee" title="Оружие ближнего боя">Оружие ближнего боя</a></li>
<li><a href="/class_of_weapon/pistol" title="Пистолеты">Пистолеты</a></li>
<li><a href="/class_of_weapon/submachine_gun" title="Пистолеты-пулемёты">Пистолеты-пулемёты</a></li>
<li><a href="/class_of_weapon/assault_rifle" title="Штурмовые винтовки">Штурмовые винтовки</a></li>
<li><a href="/class_of_weapon/machine_gun" title="Пулемёты">Пулемёты</a></li>
<li><a href="/class_of_weapon/sniper_rifle" title="Снайперские винтовки">Снайперские винтовки</a></li>
<li><a href="/class_of_weapon/shotgun_rifle" title="Дробовики">Дробовики</a></li>
<li><a href="/class_of_weapon/heavy" title="Прочее вооружение">Прочее вооружение</a></li>
<li><a href="/class_of_weapon/device" title="Устройства">Устройства</a></li>
</ul>
<h2><span id=".D0.A0.D0.B0.D0.BD.D0.B3.D0.BE.D0.B2.D0.B0.D1.8F_.D1.81.D0.B8.D1.81.D1.82.D0.B5.D0.BC.D0.B0"></span><span class="mw-headline" id="Ранговая_система">Ранговая система</span></h2>
<p>Ранг в первую очередь создан для распределения серверов, а точнее, чтобы самые сильные игроки с лучшим шмотом не попадались с игроками, у которых нет даже нормального автомата. Ранг повышается с каждым оружием в бартере независимо от класса. Также, в игре существует ранг Легенда, но нет никаких серверов, которые предназначены только для этого ранга. Таким образом, <span style="color: #d14849">бронекостюм Скат-10</span> и <span style="color: #d14849">А-545</span> могут находится на одном сервере с <span style="color: #ffaa00">Гаусс-Пушкой</span> и <span style="color: #ffaa00">бронескелетом Альбатрос-Штурмовиком</span>.
</p><p>Всего в игре 6 рангов: <span style="color: #939393"><strong>Отмычка</strong></span>,<span style="color: #00525B"><strong>Устройство</strong></span>, <span style="color: #4ad94b"><strong>Новичок</strong></span>, <span style="color: #5555ff"><strong>Сталкер</strong></span>, <span style="color: #940394"><strong>Ветеран</strong></span>, <span style="color: #d14849"><strong>Мастер</strong></span>, <span style="color: #ffaa00"><strong>Легенда</strong></span>.</p><p>До глобальной перестройки снаряжение в игре имело не ранговую систему, а систему редкости, которая могла отличаться у одного оружия несколько раз, так, например, в игре была уникальная Гаусс-пушка, которую можно было получить только с обычного контейнера до перестройки.
</p>
<h2><span id=".D0.92.D0.B8.D0.B4.D1.8B_.D0.B4.D0.BE.D1.81.D1.82.D1.83.D0.BF.D0.B0"></span><span class="mw-headline" id="Виды_доступа">Виды доступа</span></h2>
<p>Оружие может находиться в двух состояниях:
</p>
<ol>
<li> Уникальное - такое оружие можно получить в персональном варианте сразу же после получения, передать такое оружие невозможно. В основном это оружия за бартер и награды за квесты и ивенты.</li>

<li> Свободное — это оружие становится персональным только после использования, поэтому его можно использовать и сделать персональным, или передать другому игроку, или же продать на аукционе. Свободное оружие — это всё оружие из донат магазина, за исключением специальных наборов, а также оружий из бартера за сигнальные маячки. Также в игре осталось большое количество оружия, которое получалось до перестройки свободным, и его можно найти у других игроков, но это не значит, что сейчас его можно получить в свободном варианте.</li>
</ol>
{% autoescape false %}
{{html_code}}
{% endautoescape %}
{% endblock %}