{% extends "base.html" %}

{% block content %}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
<link rel="stylesheet" href="/static/armor_group.css">
<link rel="stylesheet" href="/static/index.css">
<link rel="stylesheet" href="/static/btn.css">
<body>
{% if current_user.is_authenticated %}
    {% if favourite_true == "False" %}
        <a href="/favourite/{{typ}}/{{clas}}//{{items_in_armor}}" class="fav-btn"><button>Избранное</button></a>
    {% else %}
        <a href="{{previous_page}}" class="fav-btn"><button>Все</button></a>
    {% endif %}
{% endif %}
<div>
    {% for elem in sp%}
    <div class="card">
        {% if current_user.is_authenticated %}
            {% if elem.original_name not in items_in_armor %}
                <a href="/class_of_armor/{{clas}}/{{elem.original_name}}"><i class="fa-solid fa-heart" style="color: white; text-shadow: 5px 5px 6px black;"></i></a>
            {% else %}
                <a href="/class_of_armor/{{clas}}/{{elem.original_name}}"><i class="fa-solid fa-heart" style="color: red; text-shadow: 5px 5px 6px orange;"></i></a>
            {% endif %}
        {% endif %}
        <a href="{{elem.href}}" style="width:100%">
            <img src="{{elem.img}}"><br>
            {{elem.name}}
        </a>
    </div>
    {%endfor%}
</div>
</body>
{%endblock%}