{% extends "base.html" %}

{% block content %}
<!--        body{-->
<!--        background: url("/static/img/main_picture_1.jpg") no-repeat;-->
<!--        background-size: 100% 100%;-->
<!--        background-attachment: fixed;-->
<head>
    <meta charset="UTF-8">
    <style>
        a{color:#A01F1F}
        a:hover{color:#C60606}
       ul {
        list-style-type: none;
        }
        table{width:100%}
        ul{text-align:center}
        div .group{background-color: rgba(0,0,0,0.5)}
        ul {
            list-style: none;
            padding-left: 0;
            }
        tr, th{width:25%;
        border: 2px solid #333;}
    </style>
</head>
<body>
<p></p>
<div class="group">
{% autoescape false %}
{{elem}}
{% endautoescape %}
</div>
</body>
{%endblock%}